.selected{
    text-decoration: underline;
    text-underline-position: under;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.custom-card{
    width: 18rem;
}
.custom-card .card_image{
    height: 24rem;
}